*{
	margin: 0;
	padding: 0;
}

body {
	background: #95d4c3;
	padding: 0;
	margin: 0;
}

.dog-container{
	position: absolute;
	top: calc(50vh - 100px);
	left: calc(50vw - 150px);
}

.actions-pane{
	position: fixed;
	bottom: 0;
	display: grid;
	grid-template-columns: auto auto auto;
	width: calc(100vw - 20px);
	grid-gap:10px;
	padding: 10px;
}

.actions-pane button{
	height: 100px;
	border: none;
	border-radius: 30px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	font-size: 2em;
}

.actions-pane button.feed{
	background-color: #e97878;
	color: #ffc2c2;
}

.actions-pane button.play{
	background-color: #e9c578;
	color: #fff9c2;
}

.actions-pane button.wash{
	background-color: #78ade9;
	color: #c2ecff;
}

.health-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 200px;
	height: 20px;
	padding: 5px;
	background: #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
  }
  .bar {
	background: #c54;
	width: 100%;
	height: 10px;
	position: relative;
	
	transition: width .5s linear;
  }
  
  .hit {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0px;
	
	transition: width .5s linear;
  }

  .w3-container{
	  transition: 0.2s;
  }